@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Poppins:wght@300;400;500;700&display=swap');


$font-poppins: 'Poppins', sans-serif;
$color-vino: #762057;
$color-blanco: #fdfdfd;
$color-negro: #000;
$color-baige: #fff0e2;

